<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="stock" connectionString="server=104.238.130.222;User Id=stock;password=suck&lick;Persist Security Info=True;database=stock;default command timeout=8000" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>