<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  <autofac>
    <components>
      <component type="Stock.DataProvider.IBDataProvider, Stock.DataProvider" service="Stock.Common.IStockDataProvider, Stock.Common" instance-scope="SingleInstance">
        <parameters>
          <parameter name="provider" value="IB" />
        </parameters>
      </component>
    </components>
  </autofac>
  <connectionStrings>
    <!--<add name="stock" connectionString="server=shotcurve.com;User Id=stock;password=suck&amp;lick;Persist Security Info=True;database=stock;default command timeout=8000" providerName="MySql.Data.MySqlClient" />-->

    <add name="stock" connectionString="server=wisdomhunter.tpddns.cn;User Id=stock;password=stockana&amp;;Port=3366;Persist Security Info=True;database=stock;default command timeout=8000" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" /></DbProviderFactories>
  </system.data>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>